appdirs==1.4.3
Django==2.0.1
django-redis==4.7.0
mysqlclient
olefile==0.44
packaging==16.8
pyparsing==2.2.0
redis==2.10.5
requests==2.13.0
six==1.10.0
gunicorn==19.7.1
pytz==2016.10
oauth2client==4.1.0
django-widget-tweaks==1.4.1
fabric
unidecode
django-import-export
Pillow==4.1.1
# Forms
django-crispy-forms
# For user registration, either via email or social
# Well-built with regular release cycles!
django-allauth==0.33.0