<!DOCTYPE html>
{% load staticfiles i18n %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="{% block desc %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="content-language" content="vi" />
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}"/>
    <title>{% block title %}{% endblock %} - Happy piggy bank</title>
    {% block photo_head %}{% endblock %}
    {% block seo %}{% endblock %}
    {% block style %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/side-comments.css' %}">
    <link rel="stylesheet" href="{% static 'css/side-comment/default-theme.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

  </head>
  <body>

    {% include "nav.html" %}

    <!-- Begin page content -->
    <div class="container fill" style="margin-bottom: 100px;">
        {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block main_content %}
      {% endblock %}

    </div>

    {% include "footer.html" %}

    {% block modal %}{% endblock modal %}


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/side-comments.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
{#    <script>#}
{#        $.ajaxSetup({#}
{#                headers: { 'X-CSRFToken' : '{{ csrf_token }}' }#}
{#        });#}
{#    </script>#}
    {% block javascript %}
    {% endblock %}

</body>
</html>
