{% extends "base.html" %}
{% load staticfiles %}

{% block main_content %}
    <div class="search">
        {% if err_message %}
            <div class="row">
                <div class="col-12" style="color: red; text-align: center">
                    <i>{{ err_message }}</i>
                </div>
            </div>
        {% endif %}

{#        <div id="commentable-area">#}
{#          <p data-section-id="1" class="commentable-section">#}
{#            This is a section that can be commented on.#}
{#          </p>#}
{#          <p data-section-id="2" class="commentable-section">#}
{#            This is a another section that can be commented on.#}
{#          </p>#}
{#          <p data-section-id="3" class="commentable-section">#}
{#            This is yet another section that can be commented on.#}
{#          </p>#}
{#        </div>#}


        <div class="form-row" style="max-width: 300px; margin: auto; ">
            <img src="{% static 'img/piggybank.svg' %}">

            <div id="group_app" v-if="visible" style="display: block; margin: 0 auto; padding-top: 10px;">
                <span>Nhóm <el-select v-model="current_group_value" placeholder="Chọn nhóm">
                    <el-option
                      v-for="item in my_groups"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                </el-select>
            </div>


        </div>

        <div class="row">
            <div class="col-6" style="display: block; text-align: center">
                <button type="button" class="btn btn-primary" {% if request.user.is_authenticated %} data-toggle="modal" data-target="#exampleModal" {% else %}onclick="location.href='{% url 'account_login' %}'"{% endif %} >
                    Bỏ ống heo
                </button>
            </div>
            <div class="col-6" style="display: block; text-align: center">
                <button class="btn btn-info" onclick="location.href='{% if request.user.is_authenticated %}{% url 'pick_story' %}{% else %}{% url 'account_login' %}{% endif %}'">Lấy ống heo</button>
            </div>
        </div>

    </div>


<div  class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hãy viết một chuyện về các bạn nào</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="form" method="post" action="{% url 'add_story' %}" enctype="multipart/form-data">{% csrf_token %}

          <div class="modal-body">
            <div class="form-group row">
                <div class="col-12">
                  <textarea name="message" id="message" placeholder="Tin nhắn" class="form-control" rows="3"></textarea>

                </div>
            </div>
            <div class="form-group row" style="text-align: center;" >
                <div class="col-12">
                    <label class="btn btn-primary" for="my-file-selector">
                        <input id="my-file-selector" name="files" type="file" style="display:none" multiple
                        onchange="showImageName(this)">
                        Hình ảnh/ Video
                    </label>
                    <span class='label label-info' id="upload-file-info"></span>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button id="drop_to_piggy_bank" type="submit" class="btn btn-primary">Bỏ ống heo</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Thôi</button>
          </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}

{% block javascript %}
    <script>
    $('#btn_happy').on('shown.bs.modal', function () {
      $('#message').focus()
    });

    function showImageName(obj) {
        var textShow = "";
        for (var i = 0; i < obj.files.length; ++i) {
            textShow += "<br>" + obj.files[i].name;
        }
        $('#upload-file-info').html(textShow)
    }

    var group_data = {{ group_data|safe }};
    var group_app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#group_app',
        data: group_data
    });

{#    // First require it.#}
{#    var SideComments = require('side-comments');#}
{##}
{#    var currentUser = {#}
{#                          id: 1,#}
{#                          avatarUrl: "https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.0-1/p160x160/10320286_440361769434572_997458374242547953_n.jpg?oh=8e8f26cf803785ddec2bce85f41fe659&oe=5A8782EB",#}
{#                          name: "Tung Nguyen"#}
{#                        };#}
{##}
{#    var existingComments = [#}
{#                              {#}
{#                                "sectionId": "1",#}
{#                                "comments": [#}
{#                                  {#}
{#                                    "authorAvatarUrl": "http://f.cl.ly/items/1W303Y360b260u3v1P0T/jon_snow_small.png",#}
{#                                    "authorName": "Jon Sno",#}
{#                                    "comment": "I'm Ned Stark's bastard. Related: I know nothing."#}
{#                                  },#}
{#                                  {#}
{#                                    "authorAvatarUrl": "http://f.cl.ly/items/2o1a3d2f051L0V0q1p19/donald_draper.png",#}
{#                                    "authorName": "Donald Draper",#}
{#                                    "comment": "I need a scotch."#}
{#                                  }#}
{#                                ]#}
{#                              },#}
{#                              {#}
{#                                "sectionId": "3",#}
{#                                "comments": [#}
{#                                  {#}
{#                                    "authorAvatarUrl": "http://f.cl.ly/items/0l1j230k080S0N1P0M3e/clay-davis.png",#}
{#                                    "authorName": "Senator Clay Davis",#}
{#                                    "comment": "These Side Comments are incredible. Sssshhhiiiiieeeee."#}
{#                                  }#}
{#                                ]#}
{#                              }#}
{#                            ];#}
{##}
{#    // Then, create a new SideComments instance, passing in the wrapper element and the optional the current user and any existing comments.#}
{#    sideComments = new SideComments('#commentable-area', currentUser, existingComments);#}
{##}
{##}
{#    // Listen to "commentPosted", and send a request to your backend to save the comment.#}
{#    // More about this event in the "docs" section.#}
{#    sideComments.on('commentPosted', function( comment ) {#}
{#        comment['csrf'] = '{{ csrf_token }}';#}
{#        $.ajax({#}
{#            url: '{% url 'story_comment' %}',#}
{#            type: 'POST',#}
{#            data: comment,#}
{#            success: function( savedComment ) {#}
{#                // Once the comment is saved, you can insert the comment into the comment stream with "insertComment(comment)".#}
{#                sideComments.insertComment(comment);#}
{#            }#}
{#        });#}
{#    });#}
{##}
{#    // Listen to "commentDeleted" and send a request to your backend to delete the comment.#}
{#    // More about this event in the "docs" section.#}
{#    sideComments.on('commentDeleted', function( commentId ) {#}
{#        $.ajax({#}
{#            url: '/comments/' + commentId,#}
{#            type: 'DELETE',#}
{#            success: function( success ) {#}
{#                // Do something.#}
{#            }#}
{#        });#}
{#    });#}


    </script>
{% endblock %}
