

{% if objects.has_other_pages %}
    <div class="bd-example">
        <nav aria-label="...">
          <ul class="pagination">
            {% if objects.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ objects.previous_page_number }}">Prev</a></li>
            {% else %}
              <li class="disabled page-item"><a class="page-link" href="#">Prev</a></li>
            {% endif %}
            {% for i in objects.paginator.page_range %}
              {% if objects.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
              {% else %}
                  {% if objects.number|add:-5 <= i and i <= objects.number|add:5 %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
              {% endif %}
            {% endfor %}
            {% if objects.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ objects.next_page_number }}">Next</a></li>
            {% else %}
                <li class="disabled page-item"><a class="page-link" href="#">Next</a></li>
            {% endif %}
          </ul>
        </nav>
    </div>
{% endif %}

